
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: beige;
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69f1a1;
    color: black;
}

/* Portada - Cover */

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;   
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #e8e8e8;
}

.media__cover{
    width: 50%;
}

.media__cover img{
    animation: movimiento 2.5s linear infinite;
    width: 100%;
    margin-top: -40px;
}

/*BANNER*/

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-ubication{
    width: 35%;
    height: 100%;
}

#icon_ubication{
    width: 400px;
    margin-top: -30px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__icon-bus{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_bus{
    width: 260px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

/* registro */
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155h;
  }

  .form {
    background-color: beige;
    width: 450px;
    border-radius: 11px;
    padding: 25px 45px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
  }
  
  .title {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .inputContainer {
    position: relative;
    height: 20px;
    width: 90%;
    margin-bottom: 20px;
  }

  .input {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 8px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  
  
  ::placeholder {
    color: transparent;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: grey;
    transform: translateY(-2px);
  }
  .input:focus + .label {
    top: -3px;
    left: 6px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }
  .input:focus {
    border: 2px solid black;
  }